{% for task in tasks %}
    <div class="row task">
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-body">
                    <em>{{ task.date|date('d/m/Y H:i') }}</em>
                    {{ task.content|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <p>
                {# Bouton de modification #}
                <a href="{{ path('task_edit', {'id': task.id}) }}" class="btn btn-xs btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                {# Bouton d'archivage #}
                <a href="{{ path('task_trash', {'id': task.id}) }}" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </p>
        </div>
    </div>
{% endfor %}