{% for task in tasks %}
    <div class="row task">
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-body">
                    <em>{{ task.date|date('d/m/Y H:i') }}</em>
                    {{ task.content|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <p>
                {# Bouton de restauration #}
                <a href="{{ path('task_restore', {'id': task.id}) }}" class="btn btn-xs btn-primary">
                    <span class="glyphicon glyphicon-repeat"></span>
                </a>
                {# Bouton de suppression #}
                <a href="{{ path('task_remove', {'id': task.id}) }}" onclick="return confirm('Confirmer la suppression ?')" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </p>
        </div>
    </div>
{% endfor %}
